---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { Image } from 'astro:assets';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

// Get all blog posts
const allPosts = await getCollection('blog');

// Separate active and archived posts
const activePosts = allPosts.filter(post => post.data.category !== 'archived');
const archivedPosts = allPosts.filter(post => post.data.category === 'archived');

// Sort active posts in descending order of publication date
const sortedActivePosts = activePosts.sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

// Sort archived posts in descending order of publication date
const sortedArchivedPosts = archivedPosts.sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title='Ivo Mynttinen’s Blog' description='This is where I write about things I find interesting, and little updates about my life.This is where I write about things I find interesting, and little updates about my life.' />
  </head>
  <body>
    <Header />
    <main class="layout-blog">
      <h1>Blog</h1>
      <p class="intro">
        This is where I write about things I find interesting, and little updates about my life.
      </p>
      <section>
        <ul class="posts">
          {sortedActivePosts.map((post) => (
            <li>
              {post.data.plain ? (
                <div class={`tile post ${post.data.highlight ? 'highlight' : ''} plain`}>
                  <h2 class="title">{post.data.title}</h2>
                  <p class="description">{post.data.description}</p>
                  {post.data.heroImage && (
                    <div class="hero-image">
                      <Image 
                        src={post.data.heroImage}
                        alt={post.data.title}
                        widths={[306, 612, 960, 1280, 1600]}
                        sizes="(max-width: 768px) 98vw, (max-width: 1024px) 48vw, (max-width: 1360px) 32vw, 306px"
                        class="cover-image"
                      />
                    </div>
                  )}
                  <FormattedDate date={post.data.pubDate} class="date" />
                </div>
              ) : (
                <a href={`/blog/${post.slug}/`} class={`tile post ${post.data.highlight ? 'highlight' : ''}`}>
                  <h2 class="title">{post.data.title}</h2>
                  <p class="description">{post.data.description}</p>
                  {post.data.heroImage && (
                    <div class="hero-image">
                      <Image 
                        src={post.data.heroImage}
                        alt={post.data.title}
                        widths={[306, 612, 960, 1280, 1600]}
                        sizes="(max-width: 768px) 98vw, (max-width: 1024px) 48vw, (max-width: 1360px) 32vw, 306px"
                        class="cover-image"
                      />
                    </div>
                  )}
                  <FormattedDate date={post.data.pubDate} class="date" />
                </a>
              )}
            </li>
          ))}
        </ul>
      </section>
    </main>
    <Footer class="layout-blog" />
  </body>
</html>

<style lang="scss">
.layout-blog{
  margin-top: 4rem;

  h1{
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

.intro{
  margin-top: 1rem;
  max-width: 38ch;
}

.posts{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 2rem 0 0 0;

  li{
    width: 100%;
  }
}

.post{
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  text-decoration: none;

  .title{
    font-size: 1.25rem;
    line-height: 1.4rem;
    color: var(--gray-12);
    font-weight: 700;
    font-family: var(--font-family-syne);
  }

  .description{
    color: var(--gray-11);
    font-size: .9rem;
    line-height: 1.3rem;
  }

  .hero-image{
    margin: .325rem -.625rem;

    img{
      display: block;
      border-radius: .4rem;
      max-width: 100%;
      height: auto;
    }
  }

  :global(.date){
    margin-top: auto;
    color: var(--gray-10);
    font-size: .875rem;
  }

  &.highlight{
    .title{
      color: var(--yellow-12);
    }

    .description{
      color: var(--yellow-11);
    }

    :global(.date){
      color: var(--yellow-11);
    }
  }

  &.plain{
    .title{
      display: none;
    }

    .description{
      font-family: var(--font-family-syne);
      font-weight: 550;
      font-size: 1.125rem;
      line-height: 1.5rem;
    }
  }
}

.archived {
  margin-top: 2rem;
  
  &.hidden {
    display: none;
  }
}

@media (min-width: 768px) {
  body > main{
    max-width: 100%;
    padding: 0 1rem;
  }

  .posts{
    li{
      width: calc(50% - .5rem);
      min-height: 320px;
    }
  }
}

@media (min-width: 1024px) {
  .posts{
    li{
      width: calc(33.33% - .6666rem);
    }
  }
}

@media (min-width: 1360px) {
  .posts{
    li{
      width: 320px;
    }
  }
}
</style>
