---
import { Image } from 'astro:assets';
import { X_URL, X_HANDLE, MASTODON_HANDLE, MASTODON_URL, LAYERS_URL, EMAIL } from '../consts';
import Layout from '../layouts/Generic.astro';

import Ivo from '../assets/images/ivo.png';
import IvoAntonia from '../assets/images/ivo-antonia.jpg';
import Hanglage from '../assets/images/hanglage.png';
---

<Layout
  title="About Me"
  description="Ivo Mynttinen: Design Engineer, Studio Owner, and Homelab Enthusiast"
>

  <p class="intro">
    I'm a self-taught design engineer with 15 years of experience in the industry. Currently, I'm leading design at Everchron and running my own design studio, Telary. When I'm not crafting digital experiences, you'll find me designing my dream home, tinkering with my homelab, or immersed in a good game.
  </p>

  <hr>

  <h2>The Extended Version</h2>

  <aside class="right">
    <figure>
      <Image
        src={Ivo}
        alt="Ivo Mynttinen circa 1995"
        widths={[260, 540, 720, 960, 1200]}
        sizes={`(max-width: 320px) 300px, (max-width: 540px) 90vw, (max-width: 768px) 260px, (max-width: 1024px) 260px, 260px`}
      />
      <figcaption>Circa 1995</figcaption>
    </figure>
  </aside>

  <p>
    Born in 1992 in Germany, I grew up alongside the internet, which shaped my perspective and career path. My journey in design began as a self-taught enthusiast, evolving into a 15-year career that has seen me tackle challenges across various sectors of the industry. My professional journey has instilled in me a deep appreciation for continuous learning of new technologies. In an industry that never stands still, I believe in staying curious, embracing challenges, and always being ready to evolve. This mindset has been crucial in navigating the complexities of leading design teams, running a studio, and pursuing personal projects and financial freedom.
  </p>

  <p>
    For over a decade, I've been leading design at <a href="https://everchron.com" target="_blank">Everchron</a>, steering our visual direction and user experience. Simultaneously, I've nurtured my own creative outlet through <a href="https://telary.studio" target="_blank">Telary Studio</a>, where I continue to push the boundaries of design and collaborate with clients of all sizes.
  </p>

  <aside class="left">
    <figure>
      <Image
        src={IvoAntonia}
        alt="Ivo Mynttinen and Antonia"
        widths={[260, 540, 720, 960, 1200]}
        sizes={`(max-width: 320px) 300px, (max-width: 540px) 90vw, (max-width: 768px) 260px, (max-width: 1024px) 260px, 260px`}
      />
      <figcaption><time datetime="2024-06-28">28.06.2024</time></figcaption>
    </figure>
  </aside>

  <p>
    My professional life is balanced by a rich personal one. In 2024, I married my wonderful wife, Antonia, marking the beginning of a new chapter in my life. Together, we're embarking on an exciting journey of designing and building our dream home. This project is a testament to my passion for interior design and my belief in creating spaces that reflect one's personality and values.
  </p>

  <aside class="right">
    <figure>
      <Image
        src={Hanglage}
        alt="Drawing of the new build"
        widths={[260, 540, 720, 960, 1200]}
        sizes={`(max-width: 320px) 300px, (max-width: 540px) 90vw, (max-width: 768px) 260px, (max-width: 1024px) 260px, 260px`}
      />
      <figcaption>Building our dream home at <a href="https://hanglage-no8.de" target="_blank">Hanglage No. 8</a></figcaption>
    </figure>
  </aside>

  <p>
    Beyond the world of pixels and code, I'm an avid homelabber. It allows me to stay connected to my roots of growing up with technology, constantly learning and experimenting with new systems and setups. It's a perfect blend of my professional skills and personal interests, keeping me on my toes in the ever-evolving tech landscape.
  </p>

  <p>
    As I continue to grow both professionally and personally, I'm excited about the possibilities that lie ahead. Whether it's pushing the boundaries of design, creating our perfect home, or diving into new technological adventures, I approach each day with enthusiasm and a readiness to learn.
  </p>

  <hr>

  <h2>Find me elsewhere</h2>

  <ul class="tile-list">
    <li>
      <a href={MASTODON_URL} target="_blank" class="tile-list-tile">
        <span class="title">Mastodon</span>
        <span class="meta">{MASTODON_HANDLE}</span>
      </a>
    </li>
    <li>
      <a href={X_URL} target="_blank" class="tile-list-tile">
        <span class="title">X (formerly Twitter)</span>
        <span class="meta">{X_HANDLE}</span>
      </a>
    </li>
    <li>
      <a href={`mailto:${EMAIL}`} class="tile-list-tile">
        <span class="title">Personal Email</span>
        <span class="meta">{EMAIL}</span>
      </a>
    </li>
  </ul>
</Layout>
