---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';

import IconTelary from '../media/telary-logo.svg';
import IconHanglage from '../media/hanglage-logo.png';
import IconEverchron from '../media/everchron-logo.svg';

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
).slice(0, 5);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <section>
        <h1>
          Ivo Mynttinen
        </h1>
        <p class="intro">
          I’m a design engineer with a passion for interior design, and homelabbing. This is my personal space on the web, where I share a little bit of everything.
        </p>
      </section>
      <hr>
      <section>
        <h2>Work & Projects</h2>
        <div class="tiles">
          <a href="https://telary.studio" title="Visit Telary" target="_blank" class="tile project">
            <span class="title">
              <Image src={IconTelary} alt="Telary Logo" />
              Telary Studio
            </span>
            <span class="description">Design Studio</span>
            <span class="range">2024 - Now</span>
          </a>
          <a href="https://hanglage-no8.de" title="Visit Hanglage No. 8" target="_blank" class="tile project">
            <span class="title">
              <Image src={IconHanglage} width={24}
              densities={[1, 2, 3]} alt="Hanglage No. 8 Logo" />
              Hanglage No. 8
            </span>
            <span class="description">Building my dream home</span>
            <span class="range">Since 2024</span>
          </a>
          <a href="https://everchron.com" title="Visit Everchron" target="_blank" class="tile project">
            <span class="title">
              <Image src={IconEverchron} alt="Everchron Logo" />
              Everchron
            </span>
            <span class="description">Lead Designer</span>
            <span class="range">2014 - Now</span>
          </a>
        </div>
      </section>
      <hr>
      <section>
        <h2>Writing</h2>
        <ul class="tile-list">
          {
            posts.map((post) => (
              <li>
                <a href={`/blog/${post.slug}/`} class="tile-list-tile">
                  <h3 class="title">{post.data.title}</h3>
                  <time datetime={new Date(post.data.pubDate).toISOString()} class="meta">
                    {new Date(post.data.pubDate).getFullYear()}
                  </time>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>

<style lang="scss">
  main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0;
  }

  .intro{
    color: var(--gray-11);
    margin-top: 1rem;
    font-family: var(--font-family-syne);
  }

  h2{
    color: var(--gray-11);
    font-size: .875rem;
    font-weight: 500;
    font-stretch: 135%;
    margin-bottom: 1.5rem;
  }

  .tiles{
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
  }

  .project{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 140px;
    font-size: 1rem;
    cursor: alias;

    img{
      border-radius: 100%;
      box-shadow: var(--elevation-1);
      background-color: var(--base);
    }

    .title{
      display: flex;
      align-items: center;
      gap: 1rem;
      color: var(--gray-12);
      font-family: var(--font-family-syne);
      font-weight: 600;
    }

    .description{
      margin-top: auto;
      color: var(--gray-11);
      line-height: 1.5rem;
    }

    .range{
      font-size: .75rem;
      color: var(--gray-11);
      line-height: 1.25rem;
      font-family: var(--font-family-syne);
    }
  }

  html.dark{
    .project img{
      background-color: var(--gray-12);
    }
  }

  @media (min-width: 540px) {
    main{
      padding: 4rem 0 2rem 0;
      gap: 3rem;
    }

    .intro{
      text-wrap: balance;
    }
  }

  @media (min-width: 650px) {
    .tiles{
      flex-wrap: nowrap;
    }

    .tile{
      min-width: 198px;
    }

    .project{
      height: 180px;
    }
  }

  @media (min-width: 768px) {
    main{
      padding: 20vh 0 2rem 0;
      gap: 4rem;
    }

    .tile{
      min-width: auto;
    }
  }
</style>
