---
import type { CollectionEntry } from 'astro:content';
import { Image } from 'astro:assets';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

import '../styles/markdown.scss';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Header />
    <main class="layout-blog-post">
      <article class="md">
        {heroImage && (
          <div class="hero-image">
            <Image 
              src={heroImage}
              alt={title}
              widths={[320, 480, 680, 1360]}
              sizes="(max-width: 1024px) 98vw, 680px"
              class="cover-image"
            />
          </div>
        )}
        <div class="title">
          <div class="date">
            <FormattedDate date={pubDate} />
            {
              updatedDate && (
                <div class="last-updated-on">
                  Last updated on <FormattedDate date={updatedDate} />
                </div>
              )
            }
          </div>
          <h1>{title}</h1>
        </div>
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>

<style lang="scss">
  .layout-blog-post {
    margin-top: 4rem;
  }

  .hero-image {
    img {
      margin: 0;
      width: 100%;
      height: auto;
      border-radius: 6px;
      display: block;
    }
  }

  .title {
    margin: 1rem 0 2rem 0;
  }

  .date{
    color: var(--gray-10);
    font-size: .875rem;
  }

  .last-updated-on {
    margin-left: 1rem;
  }
</style>
